{% extends "base.html" %}

{% block title %}
	    <title>Inicio</title>
{% endblock %}
{%block content %}
	{% include "includes/header.html" %}
	<div class="container body">
		<div class="row">
			<div class="col-xs-12">
				<div id="pagina">
					<article id="article-left">
						<div class="row">
							<div class="col-xs-6">
								<h2>TRIVIADOR</h2>
								<p>
									¿Qué es esto?
									Estás leyendo un artículo escrito por un ciudadano de eRepublik,
									un juego de estrategia multijugador inmersivo basado en países reales. 
									Crea tu propio personaje y ayuda a tu país a alcanzar todo su 
									esplendor mientras tú te consolidas como un héroe de guerra, 
									un reconocido editor o un gurú de las finanzas.
								</p>
									<div>
										que
									</div>
							</div>
						</div>
					</article>
				</div>
			</div>
	     </div>
	</div>

	{% include "includes/footer.html" %}

{%endblock %}	




		